

@tailwind base;
@tailwind components;
@tailwind utilities;


body { 
font-family: Arial, Helvetica, sans-serif;
overflow: hidden !important;

}
html { 
overflow: hidden !important;
}


/*****************************************************************************************************
though this was thought to be a tailwind file, I use some moments vanilla css to prove I know it too 
*****************************************************************************************************/
.headerBar {
@apply flex flex-row  justify-between w-full  h-16 items-center p-0 mb-2;
}

#headerLogo {
  background-image: url("./assets/images/logo-revendamais.png");
  background-repeat: no-repeat;
  background-size: 60px 60px;
  display: flex;
  flex-basis: 33%;
  height: 100%;
  background-position: 10px ;
}
.headerText {
@apply text-2xl  text-center  basis-[33%]
}

.headerRight {
display: flex;
flex-direction: row;
flex-basis: 33%;
flex:1;
justify-content: end;
gap: 10px;
padding-right: 10px;
}

.backendClicked {
  background-color: #d6e5fc;
  border-radius: 5px;
  cursor: pointer;
  width: 70px;
  display: flex;
  justify-content: center;
}

.backendUnclicked {
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  width: 70px;
  display: flex;
  justify-content: center;
}
.backendUnclicked:hover {
  background-color: lightgray;
}


/*********************************************************************************************************************************
input type='checkbox' customizado para parecer um seletor on/off, usado na selecao do backend
*********************************************************************************************************************************/
.switch_backend {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    margin-left: 5px;
    margin-top: 1px;
}

.switch_backend input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider_backend {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: lightgray;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    border: solid 1px transparent;
}

.slider_backend:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white; /* cor da bolinha */
    -webkit-transition: 0.1s;
    transition: 0.1s;
}

input:checked + .slider_backend {
    background-color: lightgray;
}

input:focus + .slider_backend {
    box-shadow: 0 0 1px yellow;
}

input:checked + .slider_backend:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
}

.slider_backend.round {
    border-radius: 30px;
    height: 30px;
}

.slider_backend.round:before {
    border-radius: 50%;
}
/*********************************************************************************************************************************
*********************************************************************************************************************************/


.backdropTransparent {
position: absolute;
background-color: transparent;
left: 0;
top: 0;
  overflow: visible;
width: 100%;
height: 100%;
z-index: 8001;
display: flex;
justify-content: center;
align-items: center;
}


.backdropGray {
position: absolute;
  overflow: visible;
background-color: rgba(0,0,0,0.1);
width: 100%;
height: 100%;
left: 0;
top: 0;
z-index: 8001;
display: flex;
justify-content: center;
align-items: center;
}



#divLoading {
    width: 120px;
    height: 70px;
    position: fixed;
    z-index: 1020999;
    background: rgba(100, 149, 237, 0.4);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 29px;
}


#messagesSlidingDiv {
    position: absolute;
    height: 70px;
    line-height: 70px;
    z-index: 10000;
    left: 4%;
    display: none;
    text-align: center;
    bottom: 25px;
    margin: auto;
    background-color: #ffebeb;
    border-color: #b40000;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-style: solid;
    border-width: 1px;
    color: #c40000;
    font-size: 1.3em;
    width: 90%;
}


.menuSuperior {
@apply w-full  h-[100px] border-t-[1px] border-gray-400 border-b-[1px] flex overflow-x-auto 
}

.topMenu {
  @apply flex flex-row   grow h-full items-center pl-2
}

.itemMenu {
  @apply bg-[#E6F0FF] hover:border-gray-700 hover:border-[3px] cursor-pointer justify-center pr-2
      border-transparent border-[3px] flex flex-col h-full w-[230px] pl-2 text-right text-gray-500
}
.itemMenuSelected { 
  @apply border-[navy] border-[3px]
}



#mainContainer {
@apply flex flex-col w-full grow 
}
.appBody {
@apply flex flex-col w-full h-screen 
}



.bottomToolbar {
  @apply h-[30px]
}


/* icone cachorrinho, canto inferior direito */
div._doggy {
  bottom: 5px;
  right: 5px;
  z-index: 11;
  position: fixed;
  width: 65px;
  height: 40px;
  float: right;
  cursor: pointer;
  background: url('./assets/images/_dog.png') no-repeat top left;
}


div._doggy_1 {
  bottom: 1px;
  display: none;
  right: 80px;
  z-index: 2000;
  position: fixed;
  width: 16px;
  height: 16px;
  float: right;
  background: url('./assets/images/thought_1.png') no-repeat top left;
}

div._doggy_2 {
  bottom: 1px;
  display: none;
  right: 80px;
  z-index: 2000;
  position: fixed;
  width: 30px;
  height: 30px;
  float: right;
  background: url('./assets/images/thought_2.png') no-repeat top left;
}

div._doggy_3 {
  display: none;
  bottom: -100px;
  right: 80px;
  z-index: 2001;
  position: absolute;
  background-color: red;
  width: 342px;
  height: 133px;
  background: url('./assets/images/thought_3.png') no-repeat top left;
  float: right;
}

/* tooltip mais bonito, para destacar botoes/divs */
.prettierTitle_black {
    background-color: #333333 !important;
    border-color: #333333 !important ;
    border-bottom-left-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
    color: white !important;
    font-family: "Roboto", sans-serif !important;
    font-size: 13px !important;
    line-height: 15px !important;
    white-space: nowrap !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    position: relative !important;
    display: inline-block !important;
    z-index: 1000004 !important;
}

#divWINDOW_TOP {
    @apply flex flex-row w-full h-[40px] bg-gray-300 leading-10 items-center justify-between cursor-pointer rounded-t-lg;
}

.divWINDOW_BUTTON {
    font-size: 1.3em;
    cursor: pointer;
    color: black;
}
.divWINDOW_BUTTON:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

#divWINDOW_DRAG {
    @apply bg-icone-arrastar w-7 bg-transparent bg-no-repeat bg-contain bg-center mr-6  text-gray-700;
}


/* modal form title */
#divWINDOW_TITLE {
    font-size: 1.2em;
    color: black;
    margin-left: 20px;
}




/****************************************************************************
buttons
****************************************************************************/
button.btnCANCELAR {
    @apply bg-gray-300 border-transparent border-[1px] text-black  text-center h-[30px] cursor-pointer w-[150px] hover:border-black
 bg-icone-cancelar  bg-auto bg-no-repeat  bg-position-left-corner-icon  pt-[2px] rounded-[6px];
}


button.btnSALVAR {
    /* icone-salvar is defined in tailwind.config.js */
    @apply bg-blue-500 border-transparent border-[1px] text-white  text-center h-[30px] cursor-pointer w-[170px] hover:border-red-950
 bg-icone-salvar  bg-auto bg-no-repeat  bg-position-left-corner-icon  pt-[2px] pl-9 rounded-[6px];
}


button.btnDELETE {
    /* icone-excluir is defined in tailwind.config.js */
    @apply bg-red-500 border-transparent border-[1px] text-white  text-center h-[30px] cursor-pointer w-auto  hover:border-red-950
 bg-icone-excluir  bg-auto bg-no-repeat  bg-position-left-corner-icon  pt-[2px] pl-9 rounded-[6px] px-[20px] min-w-[150px];
}

.btnTABLE_NOVO_REGISTRO {
    /* icone-novo-registro is defined in tailwind.config.js */
    @apply cursor-pointer w-[70px] box-border border-2 border-transparent  rounded-md bg-transparent bg-no-repeat 
        bg-icone-novo-registro  bg-center hover:border-gray-500 h-9;
}

.btnTABLE_ONLY_ACTIVE_RECORDS_ON {
  /* ON= with border */
  /* icon-somente-registro-ativo is defined in tailwind.config.js */
  @apply cursor-pointer w-[70px] box-border border-2 border-gray-500  rounded-md bg-transparent bg-no-repeat 
      bg-icon-somente-registro-ativo  bg-center hover:border-gray-500 h-9;
}
/* OFF= without border */
.btnTABLE_ONLY_ACTIVE_RECORDS_OFF {
    /* icon-somente-registro-ativo is defined in  tailwind.config.js */
    @apply cursor-pointer w-[70px] box-border border-2 border-white  rounded-md bg-transparent bg-no-repeat 
        bg-icon-somente-registro-ativo   bg-center hover:border-gray-500 h-9;
}

.btnTABLE_ONLY_INACTIVE_RECORDS_ON {
    /* ON= with borders */
    /* icon-somente-registro-inativo is defined in  tailwind.config.js */
    @apply cursor-pointer w-[70px] box-border border-2 border-gray-500  rounded-md bg-transparent bg-no-repeat 
        bg-icon-somente-registro-inativo  bg-center hover:border-gray-500 h-9;
}
/* OFF= without borders */
.btnTABLE_ONLY_INACTIVE_RECORDS_OFF {
    /* icon-somente-registro-inativo is defined in tailwind.config.js */
    @apply cursor-pointer w-[70px] box-border border-2 border-white  rounded-md bg-transparent bg-no-repeat 
        bg-icon-somente-registro-inativo  bg-center hover:border-gray-500 h-9;
}


/* div (when active) resets the datatable searchbox filter if clicked */
.btnTABLE_CANCEL_FILTER_ACTIVE {
    /* icon-cancela-filtro-ativo é definido em tailwind.config.js */
    @apply cursor-pointer w-[70px] box-border border-2 border-transparent  rounded-md bg-transparent bg-no-repeat 
        bg-icon-cancela-filtro-ativo  bg-contain bg-center hover:border-gray-500 h-9;
}

/* div (when active) resets the datatable searchbox filter if clicked */
.btnTABLE_CANCEL_FILTER_INACTIVE {
    /* icon-cancela-filtro-inativo é definido em tailwind.config.js */
    @apply cursor-pointer w-[70px] box-border border-2 border-transparent  rounded-md bg-transparent bg-no-repeat 
        bg-icon-cancela-filtro-inativo  bg-contain bg-center  h-9;
}



/****************************************************************************
 input type text
****************************************************************************/
input[type="text"].text_formFieldValue {
    font-size: 1em;
    vertical-align: middle;
    border-top: 1px solid rgb(146, 186, 167);
    border-bottom: 1px solid rgb(146, 186, 167);
    border-left: 1px solid rgb(146, 186, 167);
    border-right: 1px solid rgb(146, 186, 167);
    background-color: white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    cursor: pointer;
    margin-top: 2px;
    padding-left: 5px;
    color: black;
    width: 100%;
    line-height: 25px;
}
input[type="text"].text_formFieldValue:hover {
    border-color: green;
    background-color: #e6e6ff;
}
input[type="text"].text_formFieldValue:focus {
    background-color: #ffffcc;
    border-color: green;
}

/****************************************************************************
datatable main parts
****************************************************************************/
.datatableToolbar {
height: 80px;
font-size: 25px  ;
display: flex;
flex-direction: row;
justify-content: space-between;
justify-items: center;
 align-items: center;
padding-left:10px;
}
.datatableHeader {
  display: flex;
  flex-direction: row;
  background-color: black;
  width: 100%;
  color: white;
  height: 40px;
  align-items: center;
  padding-left:10px;
}

#rowsContainer {
overflow-y: scroll;
height:30px;
}

.datatableColumn {
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis; 

}

.DatatableRows {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  color: black;
  align-items: center;
  overflow: auto;
  border-bottom: solid 1px lightgray;  
}


.DatatableRow {
    @apply flex flex-row w-full cursor-pointer items-center hover:bg-[#ffedcc] leading-10 ;
}

/* selected= qdo usuario clicar na divTR, coloca em cor diferente e coloca sua respectiva coluna 'checkbox' como marcada */
.DatatableRow_selected {
    @apply flex flex-row w-full cursor-pointer items-center bg-[#FFC266] hover:bg-[#FFC266];
}



.actionColumn {
display: flex;
flex-direction: row;
padding-left: 5px;
justify-content: space-between;
align-items: center;
}
.actionIcon { 
border: solid 1px transparent;
display: flex;
justify-content: center;
align-items: center;
height:100%;
flex:1;
height: 40px;
}
.actionIconNull { 
border: solid 1px transparent;
display: flex;
height:100%;
flex:1;
}

.actionIcon:hover { 
border: solid 1px navy;
}

/****************************************************************************
****************************************************************************/
.crudForm {
width: auto;
height: auto;
border: solid 1x gray;
border-radius: 5px;
background-color: white;
display:flex;
}

/* searchBox => textbox to search  , magnifying icon at the right corner */
.txtTABLE_SEARCHBOX {
    /* magnifying-icon is defined in tailwind.config.js */
    @apply cursor-pointer w-[400px] box-border border-2 border-gray-400 hover:border-black rounded-md bg-transparent bg-no-repeat 
        bg-position-right-corner-icon p-searchbox bg-icone-pesquisar h-9;
}

.txtTABLE_SEARCHBOX:focus {
    @apply bg-[#ebf6f9];
}

.iconeBackend {
width: 40px;
height: 40px;
}
